= stylesheet_link_tag "button"
- if content[:button][:type] == "submit"
  %input.button{ id: content[:button][:id], type: content[:button][:type], href: content[:button][:url], class: "#{content[:button][:class] || "button-default" }", value: content[:button][:label] }
- else
  %a.button{ id: content[:button][:id], type: content[:button][:type], href: content[:button][:url], class: "#{content[:button][:class] || "button-default" }" }
    %span= content[:button][:label]
