%li
  %a{ href: content.data[:section]? content.url : content.url.gsub!(/\/$/, "") }= content.data[:title]
  - if content.data[:anchors]
    %ul
      - content.data[:anchors].each do |anchor|
        %li
          %a{ href: "#{content.data[:section]? content.url : content.url.gsub!(/\/$/, "")}#{anchor[:url]}" }= anchor[:title]
  - if content.children.count > 0
    %ul
      - content.children.sort_by!{ |c| c.data[:weight] }.each do |child|
        = partial "toc-helper", locals: { content: child }
