@import "theme/colors";

.breadcrumbs {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  background-color: $sparkle-gray-translucent;
  height: 50px;
  z-index: 1;
  overflow: hidden;
};

.breadcrumbs ol {
  margin: 0px;
};

.breadcrumbs li,
.breadcrumbs a {
  padding: 10px 0px;
};

.breadcrumbs a:hover {
};

.breadcrumbs li + li:before {
  content: "> ";
  color: black;
};
