@import "theme";

$navbar-text:         20px;
$navbar-img:          40px;
$navbar-line-height:  24px;

.navbar {
  margin: 0px;
  border: none;
  height: 70px;
};

.navbar .navbar-fixed-top {
  color: $sparkle-black;
  background-color: $sparkle-white-translucent;
  padding: 10px 0px;
};

.navbar .navbar-header img {
  display:inline-block;
  max-height: $navbar-img;
  margin: -10px 0px;
};

.navbar .navbar-header span {
  display: inline-block;
  font-size: $navbar-text;
  line-height: $navbar-line-height;
};

.navbar ul li {
  font-size: $navbar-text;
  line-height: $navbar-line-height;
};

.navbar ul li a:hover {
  background-color: $transparent;
};

.navbar .icon-bar {
  color: $sparkle-black;
};

.navbar .button {
  margin: 0px;
  padding: 13px;
  background-color: $sparkle-black;
  border-color: $sparkle-white;
  color: $sparkle-white;
};

.navbar .button:hover {
  background-color: $sparkle-magenta;
  border-color: $sparkle-white;
};

// .navbar .button span:after {
//   @extend .fa;
//   content: "\f0d0";
//   margin-left: 8px;
// };

.navbar .navbar-toggle {
  margin-top: 0px;
  margin-bottom: 0px;
};
