@import "theme/colors";

$navbar-text:         20px;
$navbar-img:          40px;
$navbar-line-height:  24px;

.navbar {
  margin: 0px;
  border: none;
  height: 70px;
};

.navbar .navbar-brand {
  color: $theme-color-black;
};

.navbar .navbar-fixed-top {
  color: $theme-color-black;
  background-color: $theme-color-white-translucent;
  padding: 10px 0px;
};

.navbar .navbar-header img {
  display: inline-block;
  max-height: $navbar-img;
  margin: -10px 0px;
};

.navbar .navbar-header span {
  display: inline-block;
  font-size: $navbar-text;
  line-height: $navbar-line-height;
};

.navbar ul li {
  font-size: $navbar-text;
  line-height: $navbar-line-height;
};

.navbar ul li a {
  padding: 15px 10px;
};

.navbar ul li a:hover {
  background-color: $transparent;
};

.navbar .icon-bar {
  color: $theme-color-black;
};

.navbar .button {
  margin: 0px;
  padding: 13px;
  background-color: $theme-color-black;
  border-color: $theme-color-white;
  color: $theme-color-white;
};

.navbar .button:hover {
  background-color: $theme-color-secondary;
  border-color: $theme-color-white;
};

// .navbar .button span:after {
//   @extend .fa;
//   content: "\f0d0";
//   margin-left: 8px;
// };

.navbar .navbar-toggle {
  margin-top: 0px;
  margin-bottom: 0px;
};

// Navbar alignment fixes...
.navbar .navbar-right {
  margin-right: 0px;
};

@media (min-width: 769px) {
  .navbar .navbar-brand {
    padding-left: 0px;
  };
};
