@import "theme";

.banner {
  @extend .theme-colors-tertiary;
};

.banner img {
  max-height: 300px;
};

.banner .list a:hover {
  text-decoration: underline;
};

.packages {
  @extend .theme-colors-secondary;
};

.schedule {
  @extend .theme-colors-default;
};

.packages .tabular table .button-full-width {
  padding: 10px 15px !important;
}
