@import "theme";

.banner img {
  max-height: 300px;
};

.banner .list a:hover {
  text-decoration: underline;
};

.packages .tabular table .button-full-width {
  padding: 10px 15px !important;
};

.packages .button span:after {
  content: none;
};
