---
title: "Newsletter Registration Success"
registration: "Your newsletter registration is confirmed!"
---

= partial "partials/load", locals: { content: data[:mailchimp][:subscription_confirmation] }
