$sparkle-orange:              rgb(234, 149, 22); //
$sparkle-orange-translucent:  rgba(234, 149, 22, 0.90); //
$sparkle-magenta:             rgb(222, 82, 133); //
$sparkle-green:               rgb(112, 194, 25); //
$sparkle-green-translucent:   rgba(112, 194, 25, 0.90); //
$sparkle-blue:                rgb(6, 184, 230); // #06b8e6
$sparkle-black:               rgb(25, 38, 44); // #19262c
$sparkle-gray:                rgb(200, 200, 200); // #c8c8c8
$sparkle-gray-translucent:    rgba(200, 200, 200, 0.90); // #c8c8c8
$sparkle-white:               rgb(255, 255, 255); // #ffffff
$sparkle-white-translucent:   rgba(255, 255, 255, 0.95); //
$sparkle-color-red:           #FF3B30;
$transparent:                 rgba(255, 255, 255, 0.07);

$theme-color-red:               $sparkle-color-red;
$theme-color-orange:            $sparkle-orange;
$theme-color-white:             $sparkle-white;
$theme-color-white-translucent: $sparkle-white-translucent;
$theme-color-gray:              $sparkle-gray;
$theme-color-gray-translucent:  $sparkle-gray-translucent;
$theme-color-black:             $sparkle-black;
$theme-color-primary:           $sparkle-blue;
$theme-color-secondary:         $sparkle-magenta;
$theme-color-tertiary:          $sparkle-green;
$theme-color-auto:              rgba(255, 255, 255, 0.90);


.black {
  color: $sparkle-black !important;
};

.white,
.white a {
  color: white !important;
};

.temp,
.temp * {
  color: $theme-color-red !important;
};

.transparent{
  background-color: $transparent;
  border: 1px solid rgba(238, 238, 238, 0.27);
  color: #FFFFFF;
};

.transparent:focus{
  border-color: #FFFFFF;
};

.theme-bg-default,
.theme-bg-default p {
  background-color: $theme-color-white;
  color: $theme-color-black;
};

.theme-bg-default a,
.theme-bg-default a:hover,
.theme-bg-default a:focus,
.theme-bg-default a:visited {
  color: $theme-color-primary;
};

.theme-bg-default p > a,
.theme-bg-default p > a:hover,
.theme-bg-default p > a:visited,
.theme-bg-default p > a:focus,
.theme-bg-default li > a,
.theme-bg-default li > a:hover,
.theme-bg-default li > a:visited,
.theme-bg-default li > a:focus {
  color: $theme-color-tertiary;
};

.theme-bg-default .button {
  background-color: inherit;
  color: inherit;
  border-color: $theme-color-black;
};

.theme-bg-default .button:hover {
  background-color: $theme-color-primary;
  color: $theme-color-auto;
  border-color: $theme-color-primary;
};

.theme-bg-default .button span {
  color: inherit;
};

.theme-bg-inverse,
.theme-bg-inverse p {
  background-color: $theme-color-black;
  color: $theme-color-white;
};

.theme-bg-inverse a,
.theme-bg-inverse a:hover,
.theme-bg-inverse a:focus,
.theme-bg-inverse a:visited {
  color: $theme-color-primary;
};

.theme-bg-inverse p > a,
.theme-bg-inverse p > a:hover,
.theme-bg-inverse p > a:visited,
.theme-bg-inverse p > a:focus,
.theme-bg-inverse li > a,
.theme-bg-inverse li > a:hover,
.theme-bg-inverse li > a:visited,
.theme-bg-inverse li > a:focus {
  color: $theme-color-primary;
};

.theme-bg-inverse .button {
  background-color: inherit;
  color: inherit;
  border-color: $theme-color-auto;
};

.theme-bg-inverse .button:hover {
  background-color: $theme-color-secondary;
  color: $theme-color-white;
  border-color: $theme-color-white;
};

.theme-bg-inverse .button span {
  color: inherit;
};

.theme-bg-neutral,
.theme-bg-neutral p {
  background-color: $theme-color-gray;
  color: $theme-color-black;
};

.theme-bg-neutral a,
.theme-bg-neutral a:hover,
.theme-bg-neutral a:focus,
.theme-bg-neutral a:visited {
  color: $theme-color-auto;
};

.theme-bg-neutral p > a,
.theme-bg-neutral p > a:hover,
.theme-bg-neutral p > a:visited,
.theme-bg-neutral p > a:focus,
.theme-bg-neutral li > a,
.theme-bg-neutral li > a:hover,
.theme-bg-neutral li > a:visited,
.theme-bg-neutral li > a:focus {
  color: $theme-color-auto;
};

.theme-bg-neutral .button {
  background-color: inherit;
  color: inherit;
  border-color: $theme-color-black;
};

.theme-bg-neutral .button:hover {
  background-color: $theme-color-tertiary;
  color: $theme-color-black;
  border-color: $theme-color-black;
};

.theme-bg-neutral .button span {
  color: inherit;
};

.theme-bg-color-primary,
.theme-bg-color-primary p {
  background-color: $theme-color-primary;
  color: $theme-color-auto;
};

.theme-bg-color-primary a,
.theme-bg-color-primary a:hover,
.theme-bg-color-primary a:focus,
.theme-bg-color-primary a:visited {
  color: $theme-color-auto;
};

.theme-bg-color-primary p > a,
.theme-bg-color-primary p > a:hover,
.theme-bg-color-primary p > a:visited,
.theme-bg-color-primary p > a:focus,
.theme-bg-color-primary li > a,
.theme-bg-color-primary li > a:hover,
.theme-bg-color-primary li > a:visited,
.theme-bg-color-primary li > a:focus {
  color: $theme-color-black;
};

.theme-bg-color-primary .button {
  border-color: $theme-color-auto;
};

.theme-bg-color-primary .button:hover {
  background-color: $theme-color-secondary;
  color: $theme-color-auto;
  border-color: $theme-color-auto;
};

.theme-bg-color-primary .button span {
  color: inherit;
};

.theme-bg-color-secondary,
.theme-bg-color-secondary p {
  background-color: $theme-color-secondary;
  color: $theme-color-auto;
};

.theme-bg-color-secondary a,
.theme-bg-color-secondary a:hover,
.theme-bg-color-secondary a:focus,
.theme-bg-color-secondary a:visited {
  color: $theme-color-auto;
};

.theme-bg-color-secondary p > a,
.theme-bg-color-secondary p > a:hover,
.theme-bg-color-secondary p > a:visited,
.theme-bg-color-secondary p > a:focus,
.theme-bg-color-secondary li > a,
.theme-bg-color-secondary li > a:hover,
.theme-bg-color-secondary li > a:visited,
.theme-bg-color-secondary li > a:focus {
  color: $theme-color-primary;
};

.theme-bg-color-secondary .button {
  border-color: $theme-color-auto;
};

.theme-bg-color-secondary .button:hover {
  background-color: $theme-color-primary;
  color: $theme-color-auto;
  border-color: $theme-color-auto;
};

.theme-bg-color-secondary .button span {
  color: inherit;
};

.theme-bg-color-tertiary,
.theme-bg-color-tertiary p {
  background-color: $theme-color-tertiary;
  color: $theme-color-auto;
};

.theme-bg-color-tertiary a,
.theme-bg-color-tertiary a:hover,
.theme-bg-color-tertiary a:focus,
.theme-bg-color-tertiary a:visited {
  color: $theme-color-auto;
};

.theme-bg-color-tertiary p > a,
.theme-bg-color-tertiary p > a:hover,
.theme-bg-color-tertiary p > a:visited,
.theme-bg-color-tertiary p > a:focus,
.theme-bg-color-tertiary li > a,
.theme-bg-color-tertiary li > a:hover,
.theme-bg-color-tertiary li > a:visited,
.theme-bg-color-tertiary li > a:focus {
  color: $theme-color-black;
};

.theme-bg-color-tertiary .button {
  border-color: $theme-color-auto;
};

.theme-bg-color-tertiary .button:hover {
  background-color: $theme-color-primary;
  color: $theme-color-auto;
  border-color: $theme-color-auto;
};

.theme-bg-color-tertiary .button span {
  color: inherit;
};
