@import "colors";
@import "fonts";
@import "text";

body {
  font-family: 'DIN Medium', sans-serif;
  font-size: $default-font-size;
  line-height: $default-line-height;
  @extend .theme-bg-default;
};

.blur {
  filter: blur(5px);
};

.fa-heart {
  color: $color-red;
};

.coming-soon {
  opacity: 0.6;
};

.coming-soon a:hover {
  cursor: not-allowed;
};

.coming-soon .learn-more a {
  content: "Coming Soon";
};
