$default-font-size:   1.75em;
$default-line-height: 1.875em;

.theme-default-text {
  font-size: $default-font-size;
  line-height: $default-line-height;
};

h1 {
  font-size: 3.0em;
  font-weight: bold;
};

h2 {
  font-size: 2.5em;
};

h3 {
  font-size: 2.0em;
};

h4 {
  font-size: 1.75em;
};

h5 {
  font-size: 1.5em;
};

h6 {
  font-size: 1.25em;
  font-weight: bold;
};

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
};

.brand {
  font-family: 'DIN Medium', sans-serif;
};

.strong {
  font-weight: bold;
};

.thin {
  font-weight: 100;
};

underline {
  text-decoration: underline;
};

pre,
pre * {
  overflow: auto !important;
  white-space: pre !important;
  word-wrap: normal;
};
